#
# The MIT License (MIT)
# Copyright (c) 2017 BlueSkyFish
#
# bicycle-manager-android - https://github.com/blueskyfish/bicycle-manager-android.git
#

.gradle
/local.properties
.idea/
.DS_Store
/build
/captures

/app/src/main/res/values/string_local.xml
